/* Google font - 
 "Nunito Sans" is imported*/
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');


body
{
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
}

.page-container
{
  background: linear-gradient(to right, rgb(10, 37, 10), black);
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
}

.app-container
{
  background-color: rgb(255, 255, 255);
  width: 450px;
  border-radius: 8px;
  margin: 16px 0;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.2);
  overflow: hidden;
}

.form-header
{
  background-color: rgba(225, 225, 225, 0.2);
  padding: 8px 40px;
  border-bottom: 1px solid rgba(202, 201, 201, 0.2);
}

.form-header h2
{
  margin: 0;
  padding-top: 16px;
  font-weight: 800;
}

.form-instructions
{
  margin-top: 4px;
  font-size: 13px;
}

.app-form
{
  padding: 24px 40px;
}



.form-row
{
  /* background-color: gray; */
}

.form-fieldset
{
  border: none;
  padding: 0;
  margin: 0;
  /* background-color: purple; */
}



.form-legend
{
  font-size: 12px;
  padding: 0;
  font-weight: 600;
  margin-bottom: 8px;
}

.form-control
{
  /* background-color: yellow; */
  display: flex;
  align-items: center;
  margin: 8px 0;
  padding-bottom: 16px;
  /* to add icons & error messages on it */
  position: relative;
}

.form-control label
{
  width: 100px;
  font-size: 15px;
}

.form-control input,
.form-control select
{
  /* background-color: gray; */
  flex: 1;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid rgb(197, 197, 197);
  margin-left: 4px;
  font-family: inherit;
}

.form-control i
{
  position: absolute;
  top: 10px;
  right: 8px;
  visibility: hidden;
}

.form-control small
{
  font-size: 12px;
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}


/* styles for success & error states of form control--------------------------------- */
/* when 'success' and 'error' classes are added to 'form-control' */

.form-control.success input
{
  border-color: rgb(20, 71, 20);
}

.form-control.error input
{
  border-color: rgb(143, 9, 9);
}

.form-control.success i.fa-check-circle
{
  color: rgb(20, 71, 20);
  visibility: visible;
}

.form-control.error i.fa-exclamation-circle
{
  color: rgb(143, 9, 9);
  visibility: visible;
}

.form-control.error small
{
  visibility: visible;
  color: rgb(233, 51, 30);
}

/* --------------------------- */
.button-container
{
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
}

.app-form button
{
  cursor: pointer;
  border: none;
  padding: 8px 42px;
  border-radius: 4px;
  font-size: 15px;
  font-family: inherit;
  transition: all 0.14s;
}

.app-form button:hover
{
  box-shadow: 0 0 5px rgba(10, 10, 10, 0.7);
}

.app-form button:active
{
  opacity: 0.7;
}

/* specific button styles */

.submit-button
{
  background-color: rgb(20, 71, 20);
  color: white;
}

.clear-button
{
  background-color: rgb(211, 211, 211);

}

/* styles for radio buttons */
.radio-form-control
{
  flex: 1;
  padding: 8px 0;
  display: flex;
  justify-content: start;
  column-gap: 24px;
  /* background-color: gray; */
  margin-left: 4px;
}

.radio-button
{
  display: flex;
  justify-content: start;
  /* background-color: gray; */
}

.radio-button label
{

  width: 50px;
  display: inline-block;
}

input[type="radio"]
{
  display: inline-block;
  height: 12px;
  width: 20px;
  margin-top: 5px;
  margin-bottom: 3px;
}

/* styles for checkbox  */
.check-form-control
{
  flex: 1;
  padding: 8px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 6px;
  column-gap: 4px;
  margin-left: 4px;
  align-items: center;
}

.check-button
{
  /* background-color: gray; */
  display: flex;
}

.check-button label
{
  /* width: 110px; */
  /* background-color: yellow; */
}

input[type="checkbox"]
{
  display: inline-block;
  height: 16px;
  width: 16px;
}

.form-control output
{
  width: 32px;
  text-align: center;
  /* background-color: yellow; */
}