 /* general styles for buttons */
 button
 {
   font-size: 14px;
   border: none;
   padding: 8px 10px;
   border-radius: 5px;
   cursor: pointer;
   background-color: rgb(133, 182, 133);
   transition: all 0.14s;
   letter-spacing: 1px;
 }

 button:hover
 {
   background-color: rgb(169, 185, 169);
 }

 button:active
 {
   opacity: 0.8;
 }

 /* specific styles */

 /* to center the app content on the page */
 .page-container
 {
   display: flex;
   justify-content: center;
 }


 .app-container
 {
   display: flex;
   flex-direction: column;
   /* to center all the content inside - horizontally */
   align-items: center;
   width: 400px;
   margin-top: 32px;
   padding: 16px 24px;
   background-color: rgb(187, 187, 187);
   border-radius: 10px;
 }

 .title-container
 {
   /* background-color: purple; */
   width: 100%;
   margin-bottom: 24px;
 }


 .title
 {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 20px;
   text-align: center;
   margin-bottom: 8px;
 }

 .info
 {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 13px;
   text-align: center;
 }

 .button-container
 {
   display: flex;
   width: 100%;
   justify-content: space-around;
   /* background-color: yellow; */

 }

 /* styles for reset button */
 .reset-button
 {
   background-color: gray;
 }

 .reset-button:hover
 {
   background-color: rgb(133, 106, 106);
 }